<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>公众号管理 - 审核公众号 </title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo base_url('/style/root');?>/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('/style/root');?>/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="" />
    <link rel="stylesheet" href="<?php echo base_url('/style/root');?>/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('/style/root');?>/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('/style/root');?>/css/app.css">
    <!-- <link rel="stylesheet" href="<?php echo base_url('/style/root');?>/css/admin.css"> -->
    <script src="<?php echo base_url('/style/root');?>/js/jquery.min.js"></script>

</head>
<style>
    .bannerView{
        width: 100px;
    }
    .areachoose select{
        width: 30%!important;
        margin:5px;
    }
</style>
<body data-type="index">
    <script src="<?php echo base_url('/style/root');?>/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <?php $this->load->view('header.html');?>


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-cf">提交待审核</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <form class="am-form tpl-form-border-form tpl-form-border-br" id='VerifyWechat' action="<?php echo site_url('/Wechat/auditOperation');?>" method="post" enctype="multipart/form-data">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">公众号名称</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="user-name" placeholder="请输入公众号名称" name="bizName" value="<?php echo $wechat['bizName'];?>">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-email" class="am-u-sm-3 am-form-label">微信号</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="am-form-field tpl-form-no-bg" value="<?php echo $wechat['wxNumber'];?>" name="wxNumber" placeholder="微信号"> 
                                           
                                        </div>
                                    </div>

                                    <div class="am-form-group upimg">
                                        <label class="am-u-sm-3 am-form-label">头像</label>
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file">
                                                <div class="tpl-form-file-img">
                                                    <?php if(empty($wechat['headerPic'])):?>
                                                    <img src="<?php echo base_url('/style/root');?>/img/img.svg" class="bannerView" alt="">
                                                    <?php else:?>
                                                        <img src="<?php echo base_url().$wechat['headerPic'];?>" class="bannerView" alt="">
                                                    <?php endif;?>
                                                </div>
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-cloud-upload"></i> 修改头像</button>
                                                <input class="doc-form-file" type="file" name="img1"  >
                                            </div>

                                        </div>
                                    </div>

                                    <div class="am-form-group upimg">
                                        <label class="am-u-sm-3 am-form-label">二维码</label>
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file">
                                                <div class="tpl-form-file-img">
                                                    <?php if(empty($wechat['qrCode'])):?>
                                                    <img src="<?php echo base_url('/style/root');?>/img/img.svg" class="bannerView" alt="">
                                                    <?php else:?>
                                                        <img src="<?php echo base_url().$wechat['qrCode'];?>" class="bannerView" alt="">
                                                    <?php endif;?>
                                                </div>
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-cloud-upload"></i> 修改二维码</button>
                                                <input class="doc-form-file" type="file" name="img2"  >
                                            </div>

                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">是否认证</label>
                                        <div class="am-u-sm-9">
                                            <label class="am-radio-inline">
                                               <input type="radio"  value="1" name="isAuthentication" <?php if($wechat['isAuthentication'] == '1'){echo "checked";}?>> 是
                                            </label>
                                            <label class="am-radio-inline">
                                                <input type="radio" value="0" name="isAuthentication" <?php if($wechat['isAuthentication'] == '0'){echo "checked";}?>> 否
                                            </label>
                                        </div> 
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">账号主体</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="mainCompany" value="<?php echo $wechat['mainCompany'];?>" placeholder="输入账号主体">
                                        </div>
                                    </div>

                                    
                                    <div class="am-form-group">
                                        <label for="user-phone" class="am-u-sm-3 am-form-label">分类</label>
                                        <div class="am-u-sm-9">
                                            <select data-am-selected="{searchBox: 1}" name="classifyID" style="display: none;">
                                                <?php foreach($cates as $v):?>
                                                    <option value="<?php echo $v['id'];?>" <?php if($v['id'] == $wechat['classifyID']){echo "selected";}?>><?php echo $v['name'];?></option>
                                                <?php endforeach;?>
                                              
                                            </select>

                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">所在地区</label>
                                        <div class="am-u-sm-9 areachoose" >
                                            <select name="locationProvince" class="am-u-sm-4  am-u-md-4 am-u-lg-4" id="province" required>
                                                <!-- <option value="" >全国</option> -->
                                                <option value="<?php echo $wechat['locationProvince'];?>"><?php echo $wechat['locationProvince'];?></option>
                                            </select>
                                            <select name="locationCounties" class="am-u-sm-4  am-u-md-4 am-u-lg-4" id="city" required>
                                                <!-- <option value="">不限</option> -->
                                                <option value="<?php echo $wechat['locationCounties'];?>"><?php echo $wechat['locationCounties'];?></option>
                                            </select>
                                            <select class="am-u-sm-4  am-u-md-4 am-u-lg-4" id="town" style="display: none">
                                                <!-- <option value="">区</option> -->
                                            </select>
                                        </div> 

                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-intro" class="am-u-sm-3 am-form-label">功能介绍</label>
                                        <div class="am-u-sm-9">
                                            <textarea class="" name="description" rows="3" id="user-intro" placeholder="请输入功能介绍"><?php echo $wechat['description'];?></textarea>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">标签</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="tag" value="<?php echo $wechat['tag'];?>"  placeholder="添加多个标签请用空格隔开">
                                        </div>
                                    </div>

                                     <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">文章链接</label>
                                        <div class="am-u-sm-6">
                                            <input type="url" id='checkurl' name="newsLink" value="<?php echo $wechat['newsLink'];?>" placeholder="">
                                           
                                        </div> 
                                        <div class="am-u-sm-3">
                                            <a href="<?php echo $wechat['newsLink'];?>"  class="am-btn am-btn-primary tpl-btn-bg-color-success " target="_blank">打开链接</a> <!-- 并保存修改 -->
                                        </div>
                                    </div>


                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">文章是否在分类列表展示</label>
                                        <div class="am-u-sm-9">
                                            <label class="am-radio-inline">
                                               <input type="radio"  value="1" name="articleState" <?php if($wechat['articleState'] == '1'){echo "checked";}?>> 是
                                            </label>
                                            <label class="am-radio-inline">
                                                <input type="radio" value="0" name="articleState" <?php if($wechat['articleState'] == '0'){echo "checked";}?>> 否
                                            </label>
                                        </div> 
                                    </div>

                                     <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">热搜</label>
                                        <div class="am-u-sm-9">
                                            <label class="am-radio-inline">
                                               <input type="radio"  value="1" name="heatState" <?php if($wechat['heatState'] == '1'){echo "checked";}?>> 是
                                            </label>
                                            <label class="am-radio-inline">
                                                <input type="radio" value="0" name="heatState" <?php if($wechat['heatState'] == '0'){echo "checked";}?>> 否
                                            </label>
                                        </div> 
                                    </div> 
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">更新频率</label>
                                        <div class="am-u-sm-9">
                                            <label class="am-radio-inline">
                                               <input type="radio"  value="1" name="frequency" <?php if($wechat['frequency'] == '1'){echo "checked";}?>> 低频
                                            </label>
                                            <label class="am-radio-inline">
                                                <input type="radio" value="2" name="frequency" <?php if($wechat['frequency'] == '0'){echo "checked";}?>> 高频
                                            </label>
                                        </div> 
                                    </div>
                                  
                                    <div class="am-form-group">
                                        <label for="user-intro" class="am-u-sm-3 am-form-label">附言</label>
                                        <div class="am-u-sm-9">
                                            <textarea class="" rows="3" id="otherNotice" name="postscript" placeholder=""><?php echo $wechat['postscript'];?></textarea>
                                        </div>
                                    </div>


                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <input type="hidden" name="id" value="<?php echo $wechat['id'];?>">
                                            <input type="hidden" name="status" value="" id="status">
                                            <input type="hidden" name="type" value="<?php echo $type;?>">
                                            <button type="button" class="am-btn" onclick="nostatus();">不通过</button><!-- 不用保存修改 -->
                                            <button type="button"  onclick="yesstatus();" class="am-btn am-btn-primary tpl-btn-bg-color-success ">审核通过</button> <!-- 并保存修改 -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- 编辑弹框 -->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="my-update-confirm">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">编辑</div>

            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <button type="submit" style="padding:0;border:none;background:none;">提交</button>

            </div>
        </div>
    </div>


    <script src="<?php echo base_url('/style/root');?>/js/amazeui.min.js"></script> 
    <script src="<?php echo base_url('/style/root');?>/js/app.js"></script>
    <script src="<?php echo base_url('/style/root');?>/js/area.js"></script>
    <script src="<?php echo base_url('/style/root');?>/js/select.js"></script>
    <script type="text/javascript"> 
        $(".doc-form-file").change(function(){
            var objUrl = getObjectURL(this.files[0]) ;
            console.log("objUrl = "+objUrl) ;
            if (objUrl) {
                $(this).parentsUntil('.upimg').find('.bannerView').attr("src", objUrl) ;
            }
        }) ;
        //建立一個可存取到該file的url
        function getObjectURL(file) {
            var url = null ; 
            if (window.createObjectURL!=undefined) { // basic
                url = window.createObjectURL(file) ;
            } else if (window.URL!=undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file) ;
            } else if (window.webkitURL!=undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file) ;
            }
            return url ;
        }

        function nostatus(){
            $('#status').val('2');
            $('#VerifyWechat').submit();

        }

        function yesstatus(){
            $('#status').val('1');
            var curUrl = $('#checkurl').val(); 
            var reg = new RegExp("[\\u4E00-\\u9FFF]+", "g");
            if(curUrl.indexOf('mp.weixin.qq.com') == -1 || curUrl.indexOf('biz') == -1 || reg.test(curUrl)){
                alert('请填写正确的微信文章链接');
                $('#checkurl').focus();
                return false;

            }else{
                console.log(23424);
              //  return true;
                $('#VerifyWechat').submit();
            }   
            
        }

        // function check(){

           
        // }
    </script>
</body>

</html>