<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin </title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="" /> 
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <!-- <link rel="stylesheet" href="assets/css/admin.css"> -->
    <script src="assets/js/jquery.min.js"></script>

</head>

<body data-type="index">
    <script src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                <!-- 搜索 -->
                <div class="am-fl tpl-header-search">
                    <form class="tpl-header-search-form" action="javascript:;">
                        <button class="tpl-header-search-btn am-icon-search"></button>
                        <input class="tpl-header-search-box" type="text" style="color:white" placeholder="搜索内容...">
                    </form>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span>超级管理员</span> </a>
                        </li>

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="javascript:;">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>

        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="assets/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              超级管理员
          </span>
                </div>
            </div>

            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="index.html">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 管理中心
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="userAdmin/users.html">
                        <i class="am-icon-users sidebar-nav-link-logo"></i> 用户管理
                    </a>
                </li>
                
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 公众号管理
                        <span class="am-icon-chevron-up am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="accouts.html">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 提交待审核
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="editVerify.html">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 修改待审核
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="waitVerify.html">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 认领待审核
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="accoutsHad.html">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 已审核
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="failedVerify.html">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 审核未通过
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="accoutsArticle.html">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文章管理
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="promotionBit.html">
                        <i class="am-icon-calendar sidebar-nav-link-logo"></i> 推广位管理
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="shopActivity.html">
                        <i class="am-icon-calendar sidebar-nav-link-logo"></i> 商家活动管理
                    </a>
                </li>
               
                <li class="sidebar-nav-link">
                    <a href="dataAdjust.html">
                        <i class="am-icon-gift sidebar-nav-link-logo"></i> 数据调整

                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="chargeRecord.html">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 充值记录

                    </a>
                </li> 
                <li class="sidebar-nav-link">
                    <a href="billboard.html">
                        <i class="am-icon-clone sidebar-nav-link-logo"></i> 公告管理
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="logOut.html" class="active">
                        <i class="am-icon-tv sidebar-nav-link-logo"></i> 日志导出
                    </a>
                </li>

            </ul>
        </div>


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">日志导出</div>


                            </div>
                            <div class="widget-body  am-fr">
                                 <div class="am-alert am-alert-danger" id="my-alert" style="display: none">
                                    <p>开始日期应小于结束日期！</p>
                                </div>
                                <form action="">
                                    <div style="margin-bottom:20px;" class="am-g am-padding-left">
                                        <div class="am-u-sm-12 am-u-md-2 am-u-lg-2" style="text-align:right;margin-left: 14px">选择日期：</div> 
                                        
                                        <div class="am-u-sm-12 am-u-md-2 am-u-lg-2">
                                           
                                            <button type="button" class="am-btn am-btn-default am-margin-right" id="my-start"><span class="am-icon-calendar"></span></button>
                                            <span
                                                id="my-startDate">选择日期</span>
                                        </div>
                                        <div class="am-u-sm-12 am-u-md-2 am-u-lg-2">
                                            <button type="button" class="am-btn am-btn-default am-margin-right" id="my-end"><span class="am-icon-calendar"></span></button>
                                            <span
                                                id="my-endDate">选择日期</span>
                                        </div>
                                        <div class="am-u-sm-6 am-u-md-6 am-u-lg-6" style="text-align: center;margin: 20px">
                                            <button type="button" class="am-btn am-btn-primary am-radius">导出</button>
                                        </div>
                                        <div class="am-u-sm-6 am-u-md-6 am-u-lg-6" style="text-align: center;"></div>
                                    </div>    
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  
       
    <script>
  		$(function () {
            // 日期组件
            var startDate = new Date();
            var endDate = new Date();
            var $alert = $('#my-alert');
            $('#my-start').datepicker().
                on('changeDate.datepicker.amui', function (event) {
                    if (event.date.valueOf() > endDate.valueOf()) {
                        $alert.find('p').text('开始日期应小于结束日期！').end().show();
                    } else {
                        $alert.hide();
                        startDate = new Date(event.date);
                        $('#my-startDate').text($('#my-start').data('date'));
                    }
                    $(this).datepicker('close');
                });

            $('#my-end').datepicker().
                on('changeDate.datepicker.amui', function (event) {
                    if (event.date.valueOf() < startDate.valueOf()) {
                        $alert.find('p').text('结束日期应大于开始日期！').end().show();
                    } else {
                        $alert.hide();
                        endDate = new Date(event.date);
                        $('#my-endDate').text($('#my-end').data('date'));
                    }
                    $(this).datepicker('close');
                });

 
        });
 

    </script>
    <script src="assets/js/amazeui.min.js"></script> 
    <script src="assets/js/app.js"></script>

</body>

</html>