<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>系统微信公众号 </title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo base_url('/style/root');?>/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo base_url('/style/root');?>/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="" /> 
    <link rel="stylesheet" href="<?php echo base_url('/style/root');?>/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('/style/root');?>/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="<?php echo base_url('/style/root');?>/css/app.css">
    <!-- <link rel="stylesheet" href="<?php echo base_url('/style/root');?>/css/admin.css"> -->
    <script src="<?php echo base_url('/style/root');?>/js/jquery.min.js"></script>

</head>
<style>
	.acName{
		max-width: 500px!important;
	}
</style>
<body data-type="index">
    <script src="<?php echo base_url('/style/root');?>/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
<?php $this->load->view('header.html');?>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">系统微信公众号管理</div>
                            </div>
                            <div class="widget-body  am-fr">
                                
                                <div style="margin-bottom: 20px">
                                	<button type="button" data-am-modal="{target: '#my-prompt'}" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 添加微信号</button>
                                </div>

                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>ID</th> 
                                                <th>是否可用</th>
                                                <th>公众号名称</th>
                                                <th>微信号</th>
                                                <th>token</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="doc-modal-list">
                                            <?php if(!empty($lists)):?>
                                                <?php foreach($lists as $val):?>
                                                <tr class="gradeX" <?php if($val['isNotWork'] == '1'){echo "style='color:#008B00'";}else{echo "style='color:red'";}?>>
                                                    <td class="noticeId"><?php echo $val['id'];?></td> 
                                                    <?php if($val['isNotWork'] == '1'):?>
                                                        <td >可用</td>
                                                        <input type="hidden" id="isNotWorks" value="1">
                                                    <?php else:?>
                                                        <td>不可用</td>
                                                        <input type="hidden" id="isNotWorks" value="0">
                                                    <?php endif;?>
                                                    <td class="name"><?php echo $val['name'];?></td>
                                                    <td class="account"><?php echo $val['account'];?></td>
                                                    <td class="token"><?php echo $val['token'];?></td>
                                                    <input type="hidden" id='Iscookie' value="<?php echo $val['cookie'];?>">

                                                    <td>
                                                        <div class="tpl-table-black-operation"> 
    	                                                    <a href="javascript:;" class="tpl-table-black-operation update">
    	                                                        <i class="am-icon-pencil"></i> 修改
    	                                                    </a>
    	                                                    <a href="javascript:;" id="<?php echo $val['id'];?>" class="tpl-table-black-operation-del">
    	                                                        <i class="am-icon-trash"></i> 删除
    	                                                    </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <?php endforeach;?>
                                            <?php endif;?>
                                           
                                            <!-- more data -->
                                        </tbody>
                                    </table>
                                </div>

                             
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
		<!-- 新增弹框 -->
		<div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">添加公告</div>
				<form class="am-form am-form-horizontal" action="<?php echo site_url('/Member/addWechat');?>" method="post">
					 
                    <div class="am-modal-bd">
                        <div class="am-form-group">
                            <label for="accountName" class="am-u-sm-3 am-form-label">微信名称：</label>
                            <div class="am-u-sm-9">
                                <input name="name" placeholder="这里写微信名称。" required>
                            </div>
                        </div> 
                        <div class="am-form-group">
                            <label for="accountName" class="am-u-sm-3 am-form-label">微信号：</label>
                            <div class="am-u-sm-9">
                                <input name="account" placeholder="这里写微信号。" required>
                            </div>
                        </div>
                         <div class="am-form-group">
                            <label for="accountName" class="am-u-sm-3 am-form-label">token：</label>
                            <div class="am-u-sm-9">
                                <input name="token" placeholder="这里写token。" required="">
                            </div>
                        </div>
                         <div class="am-form-group">
                            <label for="accountName" class="am-u-sm-3 am-form-label">cookie：</label>
                            <div class="am-u-sm-9">
                                <textarea class="" rows="4" name="cookie" required></textarea>
                            </div>
                        </div> 
                        <div class="am-form-group">
                            <label for="accountName" class="am-u-sm-3 am-form-label">是否可用</label>
                            <div class="am-u-sm-9">
                                <input type="radio" name="isNotWork" value="1">可用
                                <input type="radio" name="isNotWork" value="0">不可用
                            </div>
                        </div>
 
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn" data-am-modal-cancel>取消</span> 
                        <button type="submit" style="padding:0;border:none;background:none;width: 100%;height: 100%;outline: none;">提交</button>
                        
                    </div> 
                </form>
			 
			</div>
		</div>
        <!-- 编辑弹框 -->
        <div class="am-modal am-modal-confirm" tabindex="-1" id="my-update-confirm">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">编辑</div>
                <form class="am-form am-form-horizontal" action="<?php echo site_url('/Member/editWechat');?>" method="post">
					 
                    <div class="am-modal-bd">
                        <div class="am-form-group">
                            <label for="accountName" class="am-u-sm-3 am-form-label">微信名称：</label>
                            <div class="am-u-sm-9">
                                <input name="name" id="name" placeholder="这里写微信名称。" required>
                            </div>
                        </div> 
                        <div class="am-form-group">
                            <label for="accountName" class="am-u-sm-3 am-form-label">微信号：</label>
                            <div class="am-u-sm-9">
                                <input name="account" id="account" placeholder="这里写微信号。" required>
                            </div>
                        </div>
                         <div class="am-form-group">
                            <label for="accountName" class="am-u-sm-3 am-form-label">token：</label>
                            <div class="am-u-sm-9">
                                <input name="token" id="token" placeholder="这里写token。" required="">
                            </div>
                        </div>
                         <div class="am-form-group">
                            <label for="accountName" class="am-u-sm-3 am-form-label">cookie：</label>
                            <div class="am-u-sm-9">
                                <textarea class="" rows="4" name="cookie" id="cookie" required></textarea>
                            </div>
                        </div> 
                        <div class="am-form-group">
                            <label for="accountName" class="am-u-sm-3 am-form-label">是否可用</label>
                            <div class="am-u-sm-9">
                                <input type="radio" id="yNotWork" name="isNotWork" value="1">可用
                                <input type="radio" id="isNotWork" name="isNotWork" value="0">不可用
                            </div>
                        </div>
 
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn" data-am-modal-cancel>取消</span> 
                        <input type="hidden" name="id" id="noticeId">
                        <button type="submit" style="padding:0;border:none;background:none;width: 100%;height: 100%;outline: none;">提交</button>
                        
                    </div> 
                </form>   
            </div>
        </div>
		<!-- 删除弹框 -->
        <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
          <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
              你，确定要删除这条记录吗？
            </div>
            <div class="am-modal-footer">
              <span class="am-modal-btn" data-am-modal-cancel>取消</span>
              <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
          </div>
        </div>
    <script>

        $(function () {

             // 编辑模态框操作 
            $('#doc-modal-list').find('.update').add('#doc-confirm-toggle').
                on('click', function () { 
                    $('#noticeId').val($(this).parentsUntil('tbody').find('.noticeId').html());
                    $('#account').val($(this).parentsUntil('tbody').find('.account').html());
                    $('#name').val($(this).parentsUntil('tbody').find('.name').html());
                    $('#token').val($(this).parentsUntil('tbody').find('.token').html());
                    $('#cookie').val($(this).parentsUntil('tbody').find('#Iscookie').val());
                    var isNotWork = $(this).parentsUntil('tbody').find('#isNotWorks').val();
                    if(isNotWork == '1'){
                        $("#yNotWork").attr("checked", true);
                    }else{
                        $("#isNotWork").attr("checked", true);
                    }
                   
                    $('#my-update-confirm').modal({
                        relatedTarget: this,
     
                    });
                }); 
        });

        //删除提示
       $(function() {
          $('#doc-modal-list').find('.tpl-table-black-operation-del').add('#doc-confirm-toggle').
            on('click', function() {
              $('#my-confirm').modal({
                relatedTarget: this,
                onConfirm: function(options) {
                  var $link = $(this.relatedTarget).prev('a');
                  var uid = $(this.relatedTarget).attr('id');
                  var data = { id: uid}
                    $.post("<?php echo site_url('/Member/delWechat');?>", data, function (result) {
                       if(result == 1){
                            alert('操作成功！');
                            window.location.reload();

                       }else{
                            alert('操作失败！');
                            window.location.reload();
                       }
                    });
                },
                // closeOnConfirm: false,
                onCancel: function() {
                  
                }
              });
            });
        });


    </script>
    <script src="<?php echo base_url('/style/root');?>/js/amazeui.min.js"></script>
    <script src="<?php echo base_url('/style/root');?>/js/amazeui.datatables.min.js"></script>
    <script src="<?php echo base_url('/style/root');?>/js/dataTables.responsive.min.js"></script>
    <script src="<?php echo base_url('/style/root');?>/js/app.js"></script>

</body>

</html>