<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <?php echo name;?> - 业务提成管理 </title>
    <meta name="description" content="<?php echo name;?>">
    <meta name="keywords" content="<?php echo name;?>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo ROOTCSS;?>/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo ROOTCSS;?>/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="" />
    <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/app.css">
    <!-- <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/admin.css"> -->
    <script src="<?php echo ROOTCSS;?>/js/jquery.min.js"></script>

</head>

<body data-type="index">
    <script src="<?php echo ROOTCSS;?>/js/theme.js"></script>
    <div class="am-g tpl-g">
        <?php $this->load->view('header.html');?>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">业务提成列表</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <div class="am-alert am-alert-danger" id="my-alert" style="display: none">
                                    <p>开始日期应小于结束日期！</p>
                                </div>

                                <form action="<?php echo site_url('/Mortgage/searchCommision');?>" method="get">
                                    <div class="am-g am-padding-left">
                                        
                                        <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
                                            时间：
                                            <button type="button" class="am-btn am-btn-default am-margin-right" id="my-start">
                                                <span class="am-icon-calendar"></span>
                                                <input type="hidden" name="time" value="" id="startTime">
                                            </button>
                                            <span id="my-startDate">开始日期</span>
                                        </div>
                                        <div class="am-u-sm-6 am-u-md-3 am-u-lg-3">
                                            <button type="button" class="am-btn am-btn-default am-margin-right" id="my-end">
                                                <span class="am-icon-calendar"></span>
                                                <input type="hidden" name="endtime" value="" id="endTime">
                                            </button>
                                            <span id="my-endDate">结束日期</span>
                                        </div>
                                        <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
                                            <div class="am-form-group tpl-table-list-select">
                                                用户类型：
                                                <select data-am-selected="{btnSize: 'sm'}" name="type">
                                                    <option value="0">==请选择==</option>
                                                    <option value="1">销售经理</option>
                                                    <option value="2">银行经理</option>
                                                    <option value="3">业务经理</option>
                                                    <option value="4">客户经理</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
                                            <button type="submit" class="am-btn am-btn-primary am-radius">确定</button>
                                        </div>
                                    
                                    </div>
                                  
                                </form>
                                <div class="am-u-sm-12">
                                    <div style="margin-bottom: 20px">
                                        <a href="#" data-am-modal="{target: '#my-prompt'}" class="am-btn am-btn-default am-btn-primary">
                                            <span class="am-icon-arrow-down"></span> 导出</a>
                                    </div>

                                    <style>
                                        .am-table>thead>tr>th {
                                            padding: .3rem;
                                        }

                                        .am-table>tbody>tr>td {
                                            padding: .3rem;
                                        }
                                    </style>
                                    <div style="margin-top:20px;" class="am-scrollable-horizontal">
                                        <table width="100%" class="am-table am-table-bordered am-table-striped am-text-nowrap am-table-hover">
                                            <thead>
                                                <?php if($type =='1'):?>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>姓名</th>
                                                        <th>销售公司名称</th>
                                                        <th>岗位</th>
                                                        <th>开始时间</th>
                                                        <th>截至时间</th>
                                                        <th>业务量</th>
                                                        <!-- <th>单位提成</th> -->
                                                        <th>提成总金额</th>
                                                    
                                                        <!-- <th>操作</th> -->
                                                    
                                                    </tr>
                                                <?php elseif($type == '2'):?>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>姓名</th>
                                                        <th>银行名称</th>
                                                        <th>岗位</th>
                                                        <th>开始时间</th>
                                                        <th>截至时间</th>
                                                        <th>业务量</th>
                                                        
                                                        <th>提成总金额</th>
                                                    
                                                        <!-- <th>操作</th> -->
                                                    
                                                    </tr>
                                                <?php elseif($type == '3'):?>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>开发商名称</th>
                                                        <th>姓名</th>
                                                        <th>部门</th>
                                                        <th>岗位</th>
                                                        <th>开始时间</th>
                                                        <th>截至时间</th>
                                                        <th>业务量</th>
                                                        <th>提成总金额</th>
                                                    
                                                    
                                                    </tr>
                                                <?php elseif($type == '4'):?>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>小区名称</th>
                                                        <th>姓名</th>
                                                        <th>部门</th>
                                                        <th>岗位</th>
                                                        <th>开始时间</th>
                                                        <th>截至时间</th>
                                                        <th>业务量</th>
                                                        <th>提成总金额</th>
                                                        <!-- <th>操作</th> -->
                                                    
                                                    </tr>
                                                <?php else:?>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>姓名</th>
                                                        <th>部门</th>
                                                        <th>岗位</th>
                                                        <th>开始时间</th>
                                                        <th>截至时间</th>
                                                        <th>业务量</th>
                                                        <th>提成总金额</th>
                                                    
                                                        <!-- <th>操作</th> -->
                                                    
                                                    </tr>
                                                <?php endif;?>
                                            </thead>
                                            <tbody id="doc-modal-list">
                                               
                                                <?php if(!empty($lists)):?>
                                                <?php if($type == '1'):?>
                                                <?php foreach($lists as $k=>$v):?>
                                                    <tr class="gradeX">
                                                        <td class="userid">
                                                            <?php echo $k+1;?>
                                                        </td>
                                                        <td class="username">
                                                            <?php echo $v['userName'];?>
                                                        </td>
                                                    
                                                        <td>
                                                            <?php $com = retSalesCompany($v['c_id']); echo $com['companyName'];?>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <?php echo $time;?>
                                                        </td>
                                                        <td>
                                                            <?php echo $endtime;?>
                                                        </td>
                                                        <td>
                                                            <?php echo $v['num'];?>
                                                        </td>
                                                    
                                                        <td>
                                                            <?php echo $v['amount'];?>
                                                        </td>
                                                    </tr>
                                                <?php endforeach;?>
                                                <?php elseif($type == '2'):?>
                                                <?php foreach($lists as $k=>$v):?>
                                                    <tr class="gradeX">
                                                        <td class="userid">
                                                            <?php echo $k+1;?>
                                                        </td>
                                                        <td class="username">
                                                            <?php echo $v['userName'];?>
                                                        </td>
                                                    
                                                        <td>
                                                            <?php $bankName = getBankName($v['uId']); echo $bankName;?>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <?php echo $time;?>
                                                        </td>
                                                        <td>
                                                            <?php echo $endtime;?>
                                                        </td>
                                                        <td>
                                                            <?php echo $v['num'];?>
                                                        </td>
                                                    
                                                        <td>
                                                            <?php echo $v['amount'];?>
                                                        </td>
                                                    </tr>
                                                <?php endforeach;?>
                                                <?php elseif($type == '3'):?>
                                                    <?php foreach($lists as $k=>$v):?>
                                                    <tr class="gradeX">
                                                        <td class="userid">
                                                            <?php echo $k+1;?>
                                                        </td>
                                                      
                                                    
                                                        <td>
                                                            <?php echo $v['title'];?>
                                                        </td>
                                                        <td class="username">
                                                            <?php echo $v['userName'];?>
                                                        </td>
                                                        <td>
                                                            <?php $bu = retUserDepartment($v['department']); echo $bu;?>
                                                        </td>
                                                        <td>
                                                            <?php echo $v['duty'];?>
                                                        </td>
                                                        <td>
                                                            <?php echo $time;?>
                                                        </td>
                                                        <td>
                                                            <?php echo $endtime;?>
                                                        </td>
                                                        <td>
                                                            <?php echo $v['num'];?>
                                                        </td>
                                                    
                                                        <td>
                                                            <?php echo $v['amount'];?>
                                                        </td>
                                                    </tr>
                                                    <?php endforeach;?>
                                                <?php elseif($type == '4'):?>
                                                    <?php foreach($lists as $k=>$v):?>
                                                    <tr class="gradeX">
                                                        <td class="userid">
                                                            <?php echo $k+1;?>
                                                        </td>
                                                        <td>
                                                            <?php echo $v['villageTitle'];?>
                                                        </td>
                                                        <td class="username">
                                                            <?php echo $v['userName'];?>
                                                        </td>
                                                        <td>
                                                            <?php $bu = retUserDepartment($v['department']); echo $bu;?>
                                                        </td>
                                                        <td>
                                                            <?php echo $v['duty'];?>
                                                        </td>
                                                        <td>
                                                            <?php echo $time;?>
                                                        </td>
                                                        <td>
                                                            <?php echo $endtime;?>
                                                        </td>
                                                        <td>
                                                            <?php echo $v['num'];?>
                                                        </td>
                                                    
                                                        <td>
                                                            <?php echo $v['amount'];?>
                                                        </td>
                                                    </tr>
                                                    <?php endforeach;?>
                                                <?php endif;?>
                                                <?php else:?>
                                                <tr>
                                                    <td colspan="8">暂无内容！</td>
                                                </tr>
                                                <?php endif;?>

                                                <!-- more data -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="am-u-lg-12 am-cf">

                                    <!-- <div class="am-fr">
                                        <?php echo $pages;?>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!--  -->

<!-- 新增 -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-prompt">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">导出信息</div>
        <form class="am-form am-form-horizontal" action="<?php echo site_url('/Mortgage/downExtract');?>" method="post">
            <div class="am-modal-bd">
                <div class="am-form-group">
                   
                    <label for="dutyId" class="am-u-sm-2 am-form-label">时间</label>
                    <div class="am-u-sm-10">
                        <button type="button" class="am-btn am-btn-default am-margin-right" id="my-start1">
                            <span class="am-icon-calendar"></span>
                            <input type="hidden" name="time" value="" id="startTime1">
                        </button>
                        <span id="my-startDate1">开始日期</span>
                   
                        <button type="button" class="am-btn am-btn-default am-margin-right" id="my-end1">
                            <span class="am-icon-calendar"></span>
                            <input type="hidden" name="endtime" value="" id="endTime1">
                        </button>
                        <span id="my-endDate1">结束日期</span>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="dutyId" class="am-u-sm-2 am-form-label">用户类型</label>
                    <div class="am-u-sm-10">
                        <select name="type" required>
                            <option value="">请选择</option>
                            <option value="1">销售经理</option>
                            <option value="2">银行经理</option>
                            <option value="3">业务经理</option>
                            <option value="4">客户经理</option>
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <button type="submit" style="padding:0;border:none;background:none;width: 100%;height: 100%;outline: none;">提交</button>
            </div>
        </form>
    </div>
</div>


<!--  -->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                你，确定要删除这条记录吗？
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
    <script>

        $(function () {
            var startDate = new Date();
            var endDate = null;
            var $alert = $('#my-alert');
            $('#my-start').datepicker().
                on('changeDate.datepicker.amui', function (event) {
                    if (endDate && event.date.valueOf() > endDate.valueOf()) {
                        $alert.find('p').text('开始日期应小于结束日期！').end().show();
                    } else {
                        $alert.hide();
                        startDate = new Date(event.date);
                        $('#my-startDate').text($('#my-start').data('date'));
                        $('#startTime').val($('#my-start').data('date'));
                    }
                    $(this).datepicker('close');
                });

            $('#my-end').datepicker().
                on('changeDate.datepicker.amui', function (event) {
                    if (event.date.valueOf() < startDate.valueOf()) {
                        $alert.find('p').text('结束日期应大于开始日期！').end().show();
                    } else {
                        $alert.hide();
                        endDate = new Date(event.date);
                        $('#my-endDate').text($('#my-end').data('date'));
                        $('#endTime').val($('#my-end').data('date'));
                    }
                    $(this).datepicker('close');
                });

            $('#my-start1').datepicker().
                on('changeDate.datepicker.amui', function (event) {
                    if (endDate && event.date.valueOf() > endDate.valueOf()) {
                        $alert.find('p').text('开始日期应小于结束日期！').end().show();
                    } else {
                        $alert.hide();
                        startDate = new Date(event.date);
                        $('#my-startDate1').text($('#my-start1').data('date'));
                        $('#startTime1').val($('#my-start1').data('date'));
                    }
                    $(this).datepicker('close');
                });

            $('#my-end1').datepicker().
                on('changeDate.datepicker.amui', function (event) {
                    if (event.date.valueOf() < startDate.valueOf()) {
                        $alert.find('p').text('结束日期应大于开始日期！').end().show();
                    } else {
                        $alert.hide();
                        endDate = new Date(event.date);
                        $('#my-endDate1').text($('#my-end1').data('date'));
                        $('#endTime1').val($('#my-end1').data('date'));
                    }
                    $(this).datepicker('close');
                });








            $('#doc-modal-list').find('.tpl-table-black-operation-del').add('#doc-confirm-toggle').
                on('click', function () {
                    $('#my-confirm').modal({
                        relatedTarget: this,
                        onConfirm: function (options) {
                            var $link = $(this.relatedTarget).prev('a');
                            var uid = $(this.relatedTarget).attr('data-id');
                            var name = $(this.relatedTarget).attr('name');
                            var data = { id: uid, name: name }
                            console.log(data)
                            $.post("<?php echo site_url('/Post/delVillage');?>", data, function (result) {
                                if (result == 1) {
                                    alert('操作成功！');
                                    window.location.reload();

                                } else if (result == '3') {
                                    alert('请求失败！');
                                    window.location.reload();
                                } else {
                                    alert('操作失败！');
                                    window.location.reload();
                                }
                            });
                        },
                        // closeOnConfirm: false,
                        onCancel: function () {

                        }
                    });
                });
        });



    </script>
    <script src="<?php echo ROOTCSS;?>/js/amazeui.min.js"></script>
    <script src="<?php echo ROOTCSS;?>/js/amazeui.datatables.min.js"></script>
    <script src="<?php echo ROOTCSS;?>/js/dataTables.responsive.min.js"></script>
    <script src="<?php echo ROOTCSS;?>/js/app.js"></script>

</body>

</html>