<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <?php echo name;?> - 开发商管理 </title>
    <meta name="description" content="<?php echo name;?>">
    <meta name="keywords" content="<?php echo name;?>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo ROOTCSS;?>/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="<?php echo ROOTCSS;?>/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="" />
    <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/app.css">
    <!-- <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/admin.css"> -->
    <script src="<?php echo ROOTCSS;?>/js/jquery.min.js"></script>

</head>

<body data-type="index">
    <script src="<?php echo ROOTCSS;?>/js/theme.js"></script>
    <div class="am-g tpl-g">
        <?php $this->load->view('header.html');?>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">
                                    <a href="<?php echo site_url('/Post/salesUser');?>">销售人员</a> > 新增销售人员</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <form class="am-form" action="<?php echo site_url('/Post/addSalesUser');?>" method="post" enctype="multipart/form-data" data-am-validator>
                                    <div class="widget am-cf">
                                        <div class="widget-body  am-fr">
                                            <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                                                <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                
                                                    <label for="store_name" class="am-u-sm-3 am-form-label">销售公司
                                                        <span class="red">*</span>：</label>
                                                    <div class="am-u-sm-8 am-u-end">
                                                        <select name="c_id" required>
                                                            <option value="">==请选择==</option>
                                                            <?php foreach($company as $val):?>
                                                            <option value="<?php echo $val['id'];?>">
                                                                <?php echo $val['companyName'];?>
                                                            </option>
                                                            <?php endforeach;?>
                                                        </select>
                                                    </div>
                                                    <small class="am-u-sm-1 red redtips4" style="display: none;">
                                                        <i class="am-icon-close"></i>
                                                    </small>
                                                
                                                    <small class="am-u-sm-1 green blacktips4" style="display: none;">
                                                        <i class="am-icon-check"></i>
                                                    </small>
                                                
                                                </div>

                                                <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">

                                                    <label for="username" class="am-u-sm-3 am-form-label">姓名
                                                        <span class="red">*</span>：</label>
                                                    <div class="am-u-sm-8">

                                                        <input type="text" minlength="2" placeholder="请输入2-100个字符" name="userName" required onblur="validate(this,2,100,2)" />

                                                    </div>
                                                    <small class="am-u-sm-1 red redtips2" style="display: none;">
                                                        <i class="am-icon-close"></i>
                                                    </small>

                                                    <small class="am-u-sm-1 green blacktips2" style="display: none;">
                                                        <i class="am-icon-check"></i>
                                                    </small>

                                                </div>
                                                <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">

                                                    <label for="username" class="am-u-sm-3 am-form-label">性别
                                                        <span class="red">*</span>：</label>
                                                    <div class="am-u-sm-8">
                                                        <select name="gender">
                                                            <option value="1">男</option>
                                                            <option value="2">女</option>
                                                        </select>

                                                    </div>
                                                    <small class="am-u-sm-1 red redtips2" style="display: none;">
                                                        <i class="am-icon-close"></i>
                                                    </small>

                                                    <small class="am-u-sm-1 green blacktips2" style="display: none;">
                                                        <i class="am-icon-check"></i>
                                                    </small>

                                                </div>
                                      

                                                
                                                <div class="am-form-group  am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                    <label for="en_name" class="am-u-sm-3 am-form-label">生日</label>
                                                    <div class="am-u-sm-8 am-u-end">
                                                        <input type="text" name="birthday" value="">
                                                    </div>
                                                </div>
                                               
                                            </div>
              
                                            <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">

                                                <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">

                                                    <label for="barnd_name" class="am-u-sm-3 am-form-label">电话<span class="red">*</span> ：</label>

                                                    <div class="am-u-sm-8">

                                                        <input type="number" placeholder="小程序登陆账户" name="phone" onblur="validate(this,2,20,7)" value="" required />

                                                    </div>

                                                    <small class="am-u-sm-1 red redtips7" style="display: none;">
                                                        <i class="am-icon-close"></i>
                                                    </small>

                                                    <small class="am-u-sm-1 green blacktips7" style="display: none;">
                                                        <i class="am-icon-check"></i>
                                                    </small>

                                                </div>
                                                <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                
                                                    <label for="barnd_name" class="am-u-sm-3 am-form-label">登陆密码<span class="red">*</span> ：</label>
                                                
                                                    <div class="am-u-sm-8">
                                                
                                                        <input type="password" placeholder="登陆密码6-18位" name="password"  value="" required />
                                                
                                                    </div>
                                                
                                                    <small class="am-u-sm-1 red redtips7" style="display: none;">
                                                        <i class="am-icon-close"></i>
                                                    </small>
                                                
                                                    <small class="am-u-sm-1 green blacktips7" style="display: none;">
                                                        <i class="am-icon-check"></i>
                                                    </small>
                                                
                                                </div>
                                                <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">

                                                    <label for="" class="am-u-sm-3 am-form-label">简介 ：
                                                    </label>
                                                    <div class="am-u-sm-8">
                                                        <textarea class="am-form-field tpl-form-no-bg" rows="4" name="info"></textarea>
                                                    </div>
                                                    <small class="am-u-sm-1 red redtips7" style="display: none;">
                                                        <i class="am-icon-close"></i>
                                                    </small>

                                                    <small class="am-u-sm-1 green blacktips7" style="display: none;">
                                                        <i class="am-icon-check"></i>
                                                    </small>
                                                </div>
                                                <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">

                                                    <label for="" class="am-u-sm-3 am-form-label">头像 ：
                                                    </label>
                                                    <div class="am-u-sm-8">
                                                        <div class="am-form-group am-form-file">
                                                            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                                                <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
                                                            <input id="doc-form-file" type="file" name="file" multiple>
                                                        </div>
                                                        <div id="file-list"></div>
                                                        <script>
                                                            $(function () {
                                                                $('#doc-form-file').on('change', function () {
                                                                    var fileNames = '';
                                                                    $.each(this.files, function () {
                                                                        fileNames += '<span class="am-badge">' + this.name + '</span> ';
                                                                    });
                                                                    $('#file-list').html(fileNames);
                                                                });
                                                            });
                                                        </script>
                                                    </div>


                                                    <small class="am-u-sm-1 red redtips7" style="display: none;">
                                                        <i class="am-icon-close"></i>
                                                    </small>

                                                    <small class="am-u-sm-1 green blacktips7" style="display: none;">
                                                        <i class="am-icon-check"></i>
                                                    </small>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="am-form-group am-text-center">
                                            <button class="am-btn am-btn-default" id="cancle" type="reset">取消</button>
                                            <button class="am-btn am-btn-secondary" id="submit" type="submit">添加</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="<?php echo ROOTCSS;?>/js/amazeui.min.js"></script>
    <script src="<?php echo ROOTCSS;?>/js/amazeui.datatables.min.js"></script>
    <script src="<?php echo ROOTCSS;?>/js/dataTables.responsive.min.js"></script>
    <script src="<?php echo ROOTCSS;?>/js/app.js"></script>

</body>
<script>

    //表单验证函数

    function validate(obj, minlen, maxlen, i) {

        var content = obj.value;

        if (content.length < minlen || content.length > maxlen) {

            $('.blacktips' + i).css('display', 'none');

            $('.redtips' + i).css('display', 'inline-block');

        } else {

            $('.redtips' + i).css('display', 'none');

            $('.blacktips' + i).css('display', 'inline-block');

        }

    }


    $('#cancle').click(function () {

        history.go(-1);

    });

</script>

</html>