<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <?php echo name;?> - 公司管理 </title>
    <meta name="description" content="<?php echo name;?>">
    <meta name="keywords" content="<?php echo name;?>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<?php echo ROOTCSS;?>/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="<?php echo ROOTCSS;?>/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="" />
    <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/amazeui.min.css" />
    <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/app.css">
    <!-- <link rel="stylesheet" href="<?php echo ROOTCSS;?>/css/admin.css"> -->
    <script src="<?php echo ROOTCSS;?>/js/jquery.min.js"></script>

</head>
<body data-type="index">
    <script src="<?php echo ROOTCSS;?>/js/theme.js"></script>
    <div class="am-g tpl-g">
        <?php $this->load->view('header.html');?>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf"> <a href="<?php echo site_url('/Member/adminUser');?>">用户管理</a> > 新增用户</div>
                            </div>
                            <div class="widget-body  am-fr">
                            <form class="am-form" action="<?php echo site_url('/Member/AddUser');?>" method="post" enctype="multipart/form-data"
                                data-am-validator>
                                <div class="widget am-cf">
                                    <div class="widget-body  am-fr">
                                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                                            <div class="am-form-group  am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                <label for="marketName" class="am-u-sm-3 am-form-label">用户编号
                                                    <span class="red">*</span>：</label>
                                                <div class="am-u-sm-8 am-u-end">
                                                    <input type="text" name='userCode' value="" />
                                                </div>
                                            </div>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            
                                                <label for="username" class="am-u-sm-3 am-form-label">登陆账户
                                                    <span class="red">*</span>：</label>
                                                <div class="am-u-sm-8">
                            
                                                    <input type="text" minlength="2" placeholder="请输入2-15个字符" name="loginNum" required onblur="validate(this,2,15,2)" />
                            
                                                </div>
                                                <small class="am-u-sm-1 red redtips2" style="display: none;">
                                                    <i class="am-icon-close"></i>
                                                </small>
                            
                                                <small class="am-u-sm-1 green blacktips2" style="display: none;">
                                                    <i class="am-icon-check"></i>
                                                </small>
                            
                                            </div>
                            
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            
                                                <label for="password" class="am-u-sm-3 am-form-label">密码
                                                    <span class="red">*</span>：</label>
                                                <div class="am-u-sm-8">
                                                    <input type="password" name="password" placeholder="请输入6-16位的密码" minlength="6" maxlength="16" required onblur="validate(this,6,16,3)"
                                                    />
                                                </div>
                                                <small class="am-u-sm-1 red redtips3" style="display: none;">
                                                    <i class="am-icon-close"></i>
                                                </small>
                            
                                                <small class="am-u-sm-1 green blacktips3" style="display: none;">
                                                    <i class="am-icon-check"></i>
                                                </small>
                                            </div>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            
                                                <label for="store_name" class="am-u-sm-3 am-form-label">用户所属用户组
                                                    <span class="red">*</span>：</label>
                                                <div class="am-u-sm-8 am-u-end">
                                                    <select name="gId"  required>
                                                        <option value="">==请选择用户群组==</option>
                                                        <?php foreach($group as $val):?>
                                                        <option value="<?php echo $val['gid'];?>"><?php echo $val['groupName'];?></option>
                                                        <?php endforeach;?>
                                                    </select>
                                                </div>
                                                <small class="am-u-sm-1 red redtips4" style="display: none;">
                                                    <i class="am-icon-close"></i>
                                                </small>
                            
                                                <small class="am-u-sm-1 green blacktips4" style="display: none;">
                                                    <i class="am-icon-check"></i>
                                                </small>
                            
                                            </div>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                            
                                                <label for="store_name" class="am-u-sm-3 am-form-label">姓名
                                                    <span class="red">*</span>：</label>
                                                <div class="am-u-sm-8 am-u-end">
                                                    <input type="text" placeholder="请输入2-20个字符" name="userName" required onblur="validate(this,2,20,4)" />
                                                </div>
                                                <small class="am-u-sm-1 red redtips4" style="display: none;">
                                                    <i class="am-icon-close"></i>
                                                </small>
                                            
                                                <small class="am-u-sm-1 green blacktips4" style="display: none;">
                                                    <i class="am-icon-check"></i>
                                                </small>
                                            
                                            </div>
                                            <div class="am-form-group  am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                <label for="en_name" class="am-u-sm-3 am-form-label">性别：</label>
                                                <div class="am-u-sm-8 am-u-end">
                                                   <select name="gender" >
                                                       <option value="1">男</option>
                                                       <option value="2">女</option>
                                                   </select>
                                                </div>
                                            </div>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            
                                                <label for="" class="am-u-sm-3 am-form-label">手机
                                                    <span class="red">*</span>：</label>
                            
                                                <div class="am-u-sm-8">
                                                    <input type="number" name="phone" class="am-form-field tpl-form-no-bg" placeholder="请输入手机号码" required onblur="validate(this,11,11,12)"
                                                    />
                            
                                                </div>
                                                <small class="am-u-sm-1 red redtips12" style="display: none;">
                                                    <i class="am-icon-close"></i>
                                                </small>
                                                <small class="am-u-sm-1 green blacktips12" style="display: none;">
                                                    <i class="am-icon-check"></i>
                                                </small>
                                            </div>
                                        </div>
                            
                                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                            
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            
                                                <label for="barnd_name" class="am-u-sm-3 am-form-label">电话 ：</label>
                            
                                                <div class="am-u-sm-8">
                            
                                                    <input type="text" placeholder="请输入2-20个字符" name="telPhone" onblur="validate(this,2,20,7)" value="" />
                            
                                                </div>
                            
                                                <small class="am-u-sm-1 red redtips7" style="display: none;">
                                                    <i class="am-icon-close"></i>
                                                </small>
                            
                                                <small class="am-u-sm-1 green blacktips7" style="display: none;">
                                                    <i class="am-icon-check"></i>
                                                </small>
                            
                                            </div>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            
                                                <label for="" class="am-u-sm-3 am-form-label">邮箱：</label>
                                                <div class="am-u-sm-8">
                                                    <input type="email" name="email" class="am-form-field tpl-form-no-bg" placeholder="请输入邮箱" onblur="validate(this,11,11,12)"
                                                    />
                                                </div>
                                                <small class="am-u-sm-1 red redtips12" style="display: none;">
                                                    <i class="am-icon-close"></i>
                                                </small>
                                                <small class="am-u-sm-1 green blacktips12" style="display: none;">
                                                    <i class="am-icon-check"></i>
                                                </small>
                                            </div>
                                            <?php if($this->session->users['type'] == '1'):?>

                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                <label for="commercial_type_name" class="am-u-sm-3 am-form-label">所属公司 ：</label>
                                                <div class="am-u-sm-8">
                                                    <select id="firstYetai" name="companyId" onchange="validate(this,1,20,5)">
                                                        <option value="">-=请选择一项=-</option>
                                                        <?php foreach($company as $val):?>
                                                        <option value="<?php echo $val['id'];?>">
                                                            <?php echo $val['companyTitle'];?>
                                                        </option>
                                                        <?php endforeach;?>
                                                    </select>
                                                </div>
                                                <small class="am-u-sm-1 red redtips5" style="display: none;">
                                                    <i class="am-icon-close"></i>
                                                </small>
                                                <small class="am-u-sm-1 green blacktips5" style="display: none;">
                                                    <i class="am-icon-check"></i>
                                                </small>
                                            </div>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12" id="secondYetai" style="clear: both;display: none;">
                                                <label for="subcommercial_type_name" class="am-u-sm-3 am-form-label">所在部门：</label>
                                                <div class="am-u-sm-8">
                                                    <select name="department" id="secondYetaiSelect" onchange="validate(this,1,20,6)">
                                                        <option value="">-=请选择一项=-</option>
                                                    </select>
                                                </div>
                                            
                                                <small class="am-u-sm-1 red redtips6" style="display: none;">
                                                    <i class="am-icon-close"></i>
                                                </small>
                                            
                                                <small class="am-u-sm-1 green blacktips6" style="display: none;">
                                                    <i class="am-icon-check"></i>
                                                </small>
                                            
                                            </div> 
                                            <?php else:?>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                <label for="commercial_type_name" class="am-u-sm-3 am-form-label">所属公司 ：</label>
                                                <div class="am-u-sm-8">
                                                   <input type="text"  value="<?php $com = retCompanyName($this->session->users['companyId']); echo $com['companyTitle']?>" readonly >
                                                   <input type="hidden"  name="companyId" value="<?php  echo $this->session->users['companyId'];?>" readonly >
                                                </div>
                                                <small class="am-u-sm-1 red redtips5" style="display: none;">
                                                    <i class="am-icon-close"></i>
                                                </small>
                                                <small class="am-u-sm-1 green blacktips5" style="display: none;">
                                                    <i class="am-icon-check"></i>
                                                </small>
                                            </div>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12" >
                                                <label for="subcommercial_type_name" class="am-u-sm-3 am-form-label">所在部门：</label>
                                                <div class="am-u-sm-8">
                                                    <select name="department" >
                                                        <option value="">-=请选择一项=-</option>
                                                        <?php foreach($defi as $v):?>
                                                            <option value="<?php echo $v['id'];?>"><?php echo $v['department'];?></option>
                                                        <?php endforeach;?>
                                                    </select>
                                                </div>
                                            
                                                <small class="am-u-sm-1 red redtips6" style="display: none;">
                                                    <i class="am-icon-close"></i>
                                                </small>
                                            
                                                <small class="am-u-sm-1 green blacktips6" style="display: none;">
                                                    <i class="am-icon-check"></i>
                                                </small>
                                            
                                            </div>
                                            <?php endif;?>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            
                                                <label for="duty" class="am-u-sm-3 am-form-label">担任职务：</label>
                            
                                                <div class="am-u-sm-8 am-u-end">
                            
                                                    <input type="text"  class="" name="duty" />
                            
                                                </div>
                                            </div>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            
                                                <label for="remarks" class="am-u-sm-3 am-form-label">说明</label>
                            
                                                <div class="am-u-sm-8 am-u-end">
                            
                                                    <input type="text"  class="" name="remarks" />
                            
                                                </div>
                                            </div>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                <label for="status" class="am-u-sm-3 am-form-label">状态</label>
                                                <div class="am-u-sm-8 am-u-end">
                                                   <select name="status">
                                                       <option value="1">正常</option>
                                                       <option value="0">禁止登陆</option>
                                                   </select>
                                                </div>
                                            </div>
                                            <?php if($this->session->users['type'] == '1'):?>
                                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                <label for="type" class="am-u-sm-3 am-form-label">用户类型</label>
                                                <div class="am-u-sm-8 am-u-end">
                                                    <select name="type">
                                                        <option value="1">管理用户</option>
                                                        <option value="2">其他公司管理用户</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <?php else:?>
                                                <input type="hidden" name="type" value="2">
                                            <?php endif;?>
                                        </div>
                            
                                    </div>
                                    <div class="am-form-group am-text-center">
                                        <button class="am-btn am-btn-default" id="cancle" type="reset">取消</button>
                                        <button class="am-btn am-btn-secondary" id="submit" type="submit">添加</button>
                                    </div>
                                </div>
                            </form>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="<?php echo ROOTCSS;?>/js/amazeui.min.js"></script>
    <script src="<?php echo ROOTCSS;?>/js/amazeui.datatables.min.js"></script>
    <script src="<?php echo ROOTCSS;?>/js/dataTables.responsive.min.js"></script>
    <script src="<?php echo ROOTCSS;?>/js/app.js"></script>

</body>
<script >
    
    //表单验证函数

    function validate(obj, minlen, maxlen, i) {

        var content = obj.value;

        if (content.length < minlen || content.length > maxlen) {

            $('.blacktips' + i).css('display', 'none');

            $('.redtips' + i).css('display', 'inline-block');

        } else {

            $('.redtips' + i).css('display', 'none');

            $('.blacktips' + i).css('display', 'inline-block');

        }

    }


    $('#cancle').click(function () {

        history.go(-1);

    });

     $('#firstYetai').change(function () {
            //根据一级业态的内容来控制二级业态的显示
            var firstYetai = $('#firstYetai option:selected').val(), str = '', sttr = '';
            $("#secondYetaiSelect").html('<option value="">-=请选择一项=-</option>');
            // console.log(firstYetai)
            $.ajax({
                type: 'post',
                url: '<?php echo site_url("/Api/retCompanyDear");?>',
                data: 'cId=' + firstYetai,
                success: function (data) {
                    // console.log(data);
                    var jsonData = eval(data);
                    // console.log(jsonData);

                    if (data) {
                        if (data == 2) {
                            $('#secondYetai').css('display', 'none');
                            $("#secondYetaiSelect").removeAttr("required");
                            return;
                        } else {
                            for (var i = 0; i < jsonData.length; i++) {
                                str = '<option value="' + jsonData[i].id + '">' + jsonData[i].department +'-'+jsonData[i].info+ '</option>';
                                sttr = sttr + str;
                            }
                            // console.log(sttr);
                            $("#secondYetaiSelect").attr("required", "required");
                            $('#secondYetai').css('display', 'block');
                            $("#secondYetaiSelect").append(sttr);
                        }
                    } else {
                        $('#secondYetai').css('display', 'none');
                        $("#secondYetaiSelect").removeAttr("required");

                    }
                },

                error: function (xhr, type, errorThrown) {

                    alert("操作失败，请检查网络设置！");

                }

            });

        });




</script>
</html>